@charset "UTF-8";
@import url(../css/nullstyle.css);
@font-face {
  font-family: "Myriad Pro";
  src: url("../fonts/MYRIADPRO-REGULAR.eot");
  src: local("☺"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff"), url("../fonts/MYRIADPRO-REGULAR.ttf") format("truetype"), url("../fonts/MYRIADPRO-REGULAR.svg") format("svg");
}
html, body {
  font-family: "Lato";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.content {
  height: 100%;
}

.header {
  background: url(../img/1.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__menu {
  display: flex;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 40px;
  align-items: center;
}

.header__link {
  display: block;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  padding: 0 42px;
  position: relative;
}

.header__link_about:before {
  content: "";
  background-color: #000;
  height: 3px;
  width: 100%;
}

@media (max-width: 768px) {
  .header__burger-menu {
    width: 30px;
    height: 20px;
    overflow: auto;
  }
  .header__burger-menu span {
    background-color: #000;
    height: 2px;
  }
}
.footer {
  background-color: rgba(247, 247, 247, 0.603);
}

.footer__body {
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  text-align: left;
}
.footer__info .footer__company {
  font-family: "Lato - Bold";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.footer__social-network {
  margin: 0 -7.5px;
}
.footer__social-network .twitter {
  padding: 0 7.5px;
}
.footer__social-network .facebook {
  padding: 0 7.5px;
}
.footer__social-network .pinterest {
  padding: 0 7.5px;
}

.footer__logo {
  color: #848789;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  text-align: right;
}
.footer__logo span {
  padding-right: 5px;
  text-align: right;
}

.container {
  width: 1080px;
  padding: 0 10px;
  margin: auto;
}

.information__generation {
  background-color: #f7f7f7;
}

.generation__logo {
  padding: 117px 0 34px 0;
}

.logo {
  text-align: center;
}

.title {
  text-align: center;
  color: #353738;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.generation__title {
  font-size: 18px;
  padding-bottom: 35px;
}

.text {
  color: #848789;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.generation__text {
  line-height: 34px;
  font-size: 18px;
}

.information__body {
  display: flex;
  width: 100%;
}

.oliva__main-img {
  flex: 1 0 66.666%;
  display: block;
  height: 100%;
}
.oliva__main-img img {
  width: 66.666%;
  height: 100%;
}

.oliva__item {
  width: 33.33vh;
  flex: 1 1 33.333%;
}

.item {
  width: 400px;
  padding: 0 10px;
  margin: 0 auto;
}

.oliva__logo {
  padding-top: 70px;
  padding-bottom: 31px;
}

.oliva__title {
  padding-bottom: 26px;
}

.oliva__secondary {
  text-align: left;
}