@import url(../css/nullstyle.css);
@font-face {
	font-family: 'Myriad Pro';
	src: url('../fonts/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('../fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../fonts/MYRIADPRO-REGULAR.svg') format('svg');
}
html,body{
	font-family: "Lato";
	min-width: 100%;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}
.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
.main-screen{
	background: url(../img/1.png) no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex: 1 0 100%;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	left: 0;
	top: 0px;
	&__logo{
		position: absolute;
		top: 35px;
		left: 50%;
		transform: translate(-50%, 0);
		@media(max-width:767px){
			top: 15px;
		}
	}
}

.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85px;
	
	@media(max-width:767px){
		padding-bottom: 150px;
		position: relative;
	}
}


.menu {
	@media(max-width:767px){
		&__body{
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			background-color: #4d4959;
			padding-bottom: 150px;
			overflow: auto;
		}
		&__list{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
		}
	}
	
	
}
.icon-menu {
	@media(max-width: 767px){
		display: block;
		position: absolute;
		top: 33px;
		right: 15px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{
			position: relative;
			display: block;
			background-color: #fff;
			right: 0;
			width: 100%;
			height: 2px;
			&:first-child{
				top: 0;
			}
			&:last-child{
				bottom: 0;
			}
			
		}
		span.active{
			
			transform: scale(0);
			&:first-child{
				transform: rotate(-45deg);
				top: 8px;
			}
			&:last-child{
				transform: rotate(45deg);
				bottom: 8px;
			}
		}
	}
}

.menu__list {
	display: flex;
	li:nth-child(2){
		padding-right: 150px;
	}
	li{
		position: relative;
	}
	li{
		&::after{
			content: '';
			height: 2px;
			width: 2px;
			background-color: #4d4959;
			position: absolute;
			bottom: 6px;
		}
		&:first-child,
		&:nth-child(3){
			&::after{display: none;}
		}
	}
	@media(max-width:767px){
		li{
			padding: 0 !important;
			padding-bottom: 35px !important;
			&:nth-child(2),
			&:nth-child(3){
				padding-bottom: 35px !important;
			}
			&::after{
				content: '';
				background-color: #ffffff;
				top: 70%;
				left: 50%;
				height: 4px;
				width: 4px;
				border-radius: 50%;
			}
			&:first-child,
			&:nth-child(3){
			&::after{display: block;}
			}
			&:last-child{
				&::after{display: none;}
			}
		}
		padding-top: 150px;
	}
}
.menu__link {
	display: block;
	color: #4d4959;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 2.6px;
	padding: 0 37.5px;
	position: relative;
	@media(max-width: 767px){
		color: #fff;
		font-size: 24px;
	}
}



	













.footer {
	background-color: rgba(247, 247, 247, 0.603);
}
.footer__body {
	height: 250px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__info {
	color: #848789;
	font-size: 14px;
	font-style: italic;
	line-height: 17.87px;
	text-align: left;
	.footer__company {
		font-family: "Lato - Bold";
		font-size: 16px;
		font-weight: 700;
		font-style: normal;
	}
}
.footer__social-network {
	margin: 0 -7.5px;
	.twitter {
		padding: 0 7.5px;
	}
	.facebook {
		padding: 0 7.5px;
	}
	.pinterest {
		padding: 0 7.5px;
	}
}
.footer__logo {
	color: #848789;
	font-size: 14px;
	font-style: italic;
	line-height: 17.87px;
	text-align: right;
	span{
		padding-right: 5px;
		text-align: right;
		
	}
}


.information {
	
}
.container{
	width: 1080px;
	padding: 0 10px;
	margin: auto;
}
.information__generation {
	background-color: #f7f7f7;
}
.generation__logo {
	padding: 117px 0 34px 0 ;
}
.logo{
	text-align: center;
}
.title {
	text-align: center;
	color: #353738;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
}
.generation__title {
	font-size: 18px;
	padding-bottom: 35px;
}
.text {
	color: #848789;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
.generation__text {
	line-height: 34px;
	font-size: 18px;
}
.information__oliva {
}
.information__body {
	display: flex;
	width: 100%;
}
.oliva__main-img {
	flex: 0 0 66.666%;
	display: block;
	overflow: hidden;
	img{
		max-width: 100%;
		display: block;
	}
}
.oliva__body {
	
}
.oliva__item {
	width: 33.33vh;
	flex: 1 0 33.333%;
}
.item{
	width: 400px;
	padding: 0 10px;
	margin: 0 auto;
}
.oliva__logo {
	padding-top: 70px;
	padding-bottom: 31px;
}
.oliva__title {
	padding-bottom: 26px;
}
.oliva__text {
}
.oliva__secondary {
	text-align: left;
	img{
		max-width: 100%;
		display: block;
	}
}

